// Styles for the settlement and expense tables

.contacts-container {
    margin-top: 70px;
}
.todo-form {
    border-style: solid;
    padding: 10px;
    margin: auto;
    width: 50%;
    display: none;
}
.green{
    color: #48b495;
}
.red{
    color: red;
}

.todo-table {
    margin-left: 20px;
    padding: 20px;
    width: 500px;
    background: #f8f5f5;
}

body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

// input[type=text], input[type=number] {
//     width: 100%;
//     padding: 8px 20px;
//     margin: 8px 0;
//     display: inline-block;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     box-sizing: border-box;
// }

input[type=submit] {
    width: 30%;
    background-color: black;
    color: white;
    padding: 10px 18px;
    /* margin: 0px 0; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: center;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}
.form-content-styling {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.input-width {
    width: 70%;
}
.lable-width {
    width: 30%;
}
.title-styling {
    margin-top: 50px;
    color: #FF652F;
    font-size: 20px;
}
.green-background {
    background-color: #48b495 !important;
    color: white;
}