// The import files that are needed

@import 'variables';

// Adding styles for the landing/ signup page

// Creating a common style for the page


*{
    font-family: 'Roboto', sans-serif;
  }

  // Adding the properties of the splitwise logo
  .img-logo{
    height: 55px;
    margin-left: 85px;
  }  
  
  // Creating the fixed position for the top navigation bar
  .fixed-top{
      position:fixed;
      z-index: 10;
    }
  
  // Style for the Navigation bar
  .landingNav{
    height: 55px;
    width: 100%;
    background: #5BC5A7;
    color: white;
  }
  
//   Adding styles for animated Div in the landing page
  
  #animated_div {
    margin-top: 60px;
    width: 160px;
    height: 47px;
    background: #57C6A8;
    color: #ffffff;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    animation: animated_div 5s 1;
    -moz-animation: animated_div 5s 1;
    -webkit-animation: animated_div 5s 1;
    -o-animation: animated_div 5s 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    animation-name: mymove;
    animation-iteration-count: infinite;
    animation-duration: 7s;
  }
  
// Adding keyframes to the animation

  @keyframes mymove {
  0% {
      transform: rotate(0deg);
      left: 100px;
      }
  25% {
      transform: rotate(20deg);
      left: 100px;
      }
  50% {
      transform: rotate(0deg);
      left: 500px;
      }
  55% {
      transform: rotate(0deg);
      left: 500px;
      }
  70% {
      transform: rotate(0deg);
      left: 500px;
      background: #FF6337;
      }
  100% {
      transform: rotate(-360deg);
      left: 100px;
      }
  }
  
  // Creating the styles for the login and signup buttons
  
  .float{
    float: right;
    position: absolute;
    top: 10px;
    right: 10vw;
  }
  
  .float button{
    padding: 5px 18px 5px 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .float button:focus{
    outline: none;
  }
  
  // Creating styles for the login button
  
  .loginBtn{
      background: #57C6A8;
      font-size:  15px;
      margin-right: 15px;
  }
  
  // Creating styles for the signup button
  .SignUp{
    background: #FF6337;
    font-size:  15px;
    margin-left: 15px; 
  }
  
  .float label{
    font-size:  20px;
  }
  
  // Creating the styles for the landing page
  
  //Creating styles for the heading of the landing div
  
  .landingNav h3{
      font-size: 25px;
      font-weight: normal;
      position: absolute;
      top: 12px;
      left: 10vw;
  }
  
  //Creating styles for the heading of the landing 
  .landing-heading{
      text-align: center;
      margin-top: 25px; 
  }
  
  //Creating styles for the heading of the landing logo
  .landing-logo{
      vertical-align: text-bottom;
      height: 60px;
  }
  
  //Creating styles for the heading of the landing header
  .landing-header{
    background-image: url($backgroundimageurl);
      display: inline-block;
      font-size: 60px;
      margin-top: 50px;
      font-weight: normal;
      margin-left: 10px;
  }
  
  //Creating styles for the heading of the landing description
  .landing-desc{
    background-image: url($backgroundimageurl);
      margin-top: 5px;
      font-size: 25px;
      margin-bottom: 25px;
  }
  
  //Creating styles for the heading of the landing feature
  .landing-feature{
      background-image: url($backgroundimageurl);
      //background: #F3F3F3;
      width: 100%;
      height: 500px;
      display: flex;
  }
  
  //Creating styles for the heading of the landing image
  .landing-img{
      height: 500px;
      z-index: 10;
      margin: 0px 150px 0px 150px; 
  }
  
  //Creating styles for the heading of the landing content
  .landing-content{
      padding: 10px 18px 4px 80px;
      margin-top: 55px;
      font-size: 25px;
      margin-right: -317px;
      margin-left: 89px;
  }
  
  .landing-content h2{
      padding: 10px 18px 4px 80px;
  }
  
  //Creating styles for the heading of the landing content lists
  .landing-content ul{
      padding: 10px 18px 4px 80px;
      list-style-type: none;
      font-size: 25px;
      font-weight: normal;
      margin-top: 25px;
  }
  
  //Creating styles for the heading of the landing content list items
  .landing-content li{
      margin-bottom: 15px;
  }
  
  //Creating styles for the heading of the landing content list i
  .landing-content i{
      color: #57C6A8;
  }
  
  //Creating styles for the heading of the landing button
  .landing-button{
      margin-right: 520px;
      position: relative;
      float: right;
      padding: 12px 15px 12px 15px;
      color: white;
      background: #57C6A8;
      border-radius: 10px;
      align-self: center;
      margin-top: 15px;
      font-size: 20px;
      cursor: pointer;
  }
  
  //Creating styles for the heading of the landing button on focus/ hover
  .landing-button:focus{
      outline: none;
  }
  
  //Creating styles for the heading of the landing name
  .landing-name{
    cursor: pointer;
    color: white;
  }

  // Aligning the image and their dimensions
  .image-desc{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    // height: 600px;
    // width: 375px;
  }