@import '../../LandingComponent/variables';
.AddFriendBox{
    height: 100vh;
    width: 380px;  
}
/* ********************* */
.main{
    height: 100vh;
    width: 602px;
    border: lightgray 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex{
    display: flex;
}
.content{
    height: 7px;
    width: 169px;
    margin-top: 84px;
    margin-left: 18%;
    font-size: 16px;
    color: #999999;
}

.friend{
    position: relative;
    margin-left: -9px;
    background: #f6f6f6;
    color: #999999;
    font-size: 14px;
    margin-top: 5px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    padding: 0 5px;
}

.addBtn{
    height: 28px;
    width: 58px;
    border: none;
    background: #f6f6f6;
    color: #999999;
}

.hoverCont:hover {
    width: 169px;
    height: 24px;
    background: #eee;
    color: #FF652F;
}

.input-prepend{
    margin-left: -13px;
    color: #999999;
}

.input-prepend :hover{
    background: #eee;
    color: #FF652F;
}

.addBtn:hover{
    color: #5bc5a7;
    border-color: #5bc5a7;
}

span{
    margin-left: 10px;
}

#filter_search{
    width: 159px;
    margin-left: 2px;
    border:none;
    font-family: 'Roboto', sans-serif;
}

input[type=text]:focus{
    outline: none;
  }

/* *********************Main Dashboard********************** */
.mainDash{
    background: #EEEEEE;
    height: 113px;
    width: 100%;
    margin-top: 5%;

}
.DashHeader{
    margin-top: 5%;
    border-bottom: 1px lightgray solid;
    padding: 5px;
}
.DashHeader h3{
    display: inline-block;
    margin-top: 12px;
    margin-left: 15px;
    font-size: 25px;
}
.DashHeader button{
    margin-top: 12px;
    margin-right: 5px;
    color: white;
}
.DashHeader button:hover{
    color: white;
}
.settlement{
    background: #5BC5A7;
}
.expense{
    background: #FF652F;
}
.total{
    display: flex;
    color: #9999A4;
    justify-content: center;
    
}
.total div{
    width: 500px;
    height: 50px;
    text-align: center;
    border-right: 1px lightgray solid;
    font-size: 14px;
}
.total div label{
    margin-top: 5px;
    margin-bottom: 0px;
}
.green{
 color: #5BC5A7;
}
.entireExpense{
    display: flex;
}
.entireExpense div{
 width: 50%;
 color: #9999A9;
 margin-left: 15px;
 margin-top: 15px;
 font-size: 14px;
}
li{
    list-style-type: none;
    margin-top: 12px;
    margin-bottom: 6px;
}
.imgs{
    width: 40px;
    margin-right: 20px;

}
.inline-style {
    display: inline-block;
}
.inline-style h5{
    margin: 0px;
    font-size: 16px;
    font-weight: normal;
}
.inline-style span{
    color: #5BC5A7;
}
.borders{
    width: 50%;
    border-right:  1px solid lightgray;
    height: auto;
    margin-right: 25px;
}
.background-img  {
    background-image: url('../../../images/facets.png');
    // background-image: url('https://assets.splitwise.com/assets/core/facets.png');
}
.red{
    color: red !important;
}