@import '../LandingComponent/variables';
.container {
    display: flex;
    margin-top: 10%;  
    margin-left: 200px;
    margin-right: 200px;
    align-items: center; 
    justify-content: center;
    font-family: Montserrat;
}

.login-feature{
    // background-image: url('https://assets.splitwise.com/assets/core/facets.png');
    background-image: url($backgroundimageurl);
    //background: #F3F3F3;
    width: 100%;
    height: 700px;
    display: flex;
}
.login-content{
    padding: 10px 18px 4px 80px;
    margin-top: 55px;
    font-size: 25px;
    margin-right: 40;
    margin-left: 89px;
    align-content: center;
}

.login-form{
    display:flex;
    flex-direction: column;
    align-content: center;
}


.login-form h3{
    font-size: 30px;

}

.login-form label{
    font-size: 27px;
}

.login-form input{
    font-size: 25px;
    margin-bottom: 30px;
}

.login-form .login-btn{
margin-top: 10px;
    font-size: 20px;
    background: #45A683;
    color: white;
}