@import '../LandingComponent/variables';

.signup{
    display: flex;
    margin-top: 10%;  
    align-items: center; 
    justify-content: center;
  }
  .signup-form .title-styling {
    font-size: 15px;
    color: #99A4C1
  }
  .signup-form label{
    font-size: 22px;
  }
  .signup-form input{
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .signup-form .btn{
    /* padding: 25px; */
  margin-top: 10px;
    font-size: 20px;
    background: #FF652F;
    color: white;
  }
  .signup-img-logo{
    height: 100px;
    width: 100px;
    display: flex;
    margin-bottom: 350px;
    margin-right: 10px;
  }
  .signup-feature{
    background-image: url($backgroundimageurl);
    width: 100%;
    height: 700px;
    display: flex;
}